<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if current_user.token %>
  <section class='github'>
    <h1>GitHub</h1>
    <section class='repos'>
      <h2>Repositories</h2>
      <ul>
      <% facade.repos.each do |repo| %>
        <li class='repo'>
          <%= link_to repo.name, repo.url, class: "repo-name" %>
        </li>
      <% end %>
      </ul>
    </section>
    <section class='followers'>
      <h2>Followers</h2>
      <ul>
      <% facade.followers.each do |follower| %>
        <li class='follower'>
          <%= link_to follower.handle, follower.url, class: follower.handle %>
        </li>
      <% end %>
      </ul>
    </section>
    <section class='followed'>
      <h2>Followed</h2>
      <ul>
      <% facade.followed.each do |f| %>
        <li class='followed-user'>
          <%= link_to f.handle, f.url, class: f.handle %>
        </li>
      <% end %>
      </ul>
    </section>
  </section>
  <% end %>
</section>
