<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% if !current_user.token %>
    <%= link_to "Connect to GitHub", github_oauth_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li>Status: <%= current_user.active? ? 'Active' : 'Inactive' %></li>
  </ul>
  <section class='bookmarks'>
    <h1>Bookmarked Segments</h1>
    <% facade.bookmarks(current_user).each do |tutorial, videos| %>
      <h3><%= tutorial %></h3>
      <ul>
      <% videos.each do |video| %>
        <li>
          <%= link_to video.video, "/tutorials/#{video.tutorial_id}?video_id=#{video.video_id}" %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </section>
  <% if current_user.token %>
  <section class='github'>
    <h1>GitHub</h1>
    <section class='repos'>
      <h2>Repositories</h2>
      <ul>
      <% facade.repos.each do |repo| %>
        <li class='repo'>
          <%= link_to repo.name, repo.url, class: "repo-name" %>
        </li>
      <% end %>
      </ul>
    </section>
    <section class='followers'>
      <h2>Followers</h2>
      <ul>
      <% facade.followers.each do |f| %>
        <li class='follower' id=<%= f.handle %>>
          <%= link_to f.handle, f.url, class: f.handle %>
          <% if f.exists? && current_user.not_friended?(f.uid) %>
            <%= link_to "Add Friend", friends_path(friend: f.uid), method: :post, class: "add-friend" %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </section>
    <section class='followed'>
      <h2>Followed</h2>
      <ul>
      <% facade.followed.each do |f| %>
        <li class='followed-user' id=<%= f.handle %>>
          <%= link_to f.handle, f.url, class: f.handle %>
          <% if f.exists? && current_user.not_friended?(f.uid) %>
            <%= link_to "Add Friend", friends_path(friend: f.uid), method: :post, class: "add-friend" %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </section>

    <section class='friends'>
      <h2>Friends</h2>
      <ul>
      <% facade.friends(current_user).each do |f| %>
        <li> <%= "#{f.first_name} #{f.last_name}"  %> </li>
      <% end %>
    </ul>
    </section>
  </section>
  <% end %>
</section>
